*.iml
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
/gradle/
/gradle.properties
/gradlew.bat
/app/src/androidTest/
/app/src/test/
/stv/build/
/gradlew
/stv/src/test/
/stv/src/androidTest/
/.idea/
